main {
  max-width: 1024px;
  margin: auto;
  padding-inline: 1rem;
}

.main__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #cdccf0;
  padding: 1.5rem;
  border-radius: 0.5rem;
  gap: 0.8rem;
}


#modalDiv>input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  width: 400px;
  border-radius: 8px;
  gap: 8px;
}

#modalDiv>button {
  border-radius:2px;
  gap: 8px;
  text-align: center;
  width: 15vh;
  height: 32px;
}

.buttonClo{
  color: white;
  background-color: #6c63ff;
}


dialog{
  border: 1px solid black;
  border-radius: 8px;
  flex-direction: row-reverse;
}


